<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wolf</title>
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/mystyles.css">
  </head>
  <body>
    <a href="/">Home</a>
    <p>Name: <%= wolf.name %></p>
    <p>Age: <%= wolf.age %></p>
    <p>Gender: <%= wolf.gender %></p>
    <p>Alpha: <%= wolf.alpha %></p>
    <a href="/wolves/edit/<%=wolf.id%>">Edit</a>
  </body>
</html>
